asgiref==3.5.2
Django==3.2.13
django-environ==0.8.1
django-location-field==2.1.0
djangorestframework==3.13.1
mysqlclient==2.1.0
Pillow==9.1.1
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.2.0
ez_setup
gdal